<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <h1>Tableau de bord</h1>
  <p>Bienvenue dans l’espace d’administration du port de plaisance.</p>

  <ul>
    <li><a href="/users">Voir les utilisateurs</a></li>
    <li><a href="/catways">Voir les catways</a></li>
    <li><a href="/reservations">Voir les réservations</a></li>
    <li><a href="/logout">Se déconnecter</a></li>
  </ul>
</body>
</html>